<header>
    <nav class="navbar navbar-default" ng-controller="navController">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">MEAN Blog by ETNA</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home"><i class="fa fa-home"></i> Home</a></li>
                <li ng-controller="articleController" ng-show="users.username.admin" ><a href="#/administration"><i class="fa fa-shield"></i>Administration</a></li>
                <li><a href="#/articles"><i class="fa fa-shield"></i> Articles </a></li>
                <li><a ng-hide="isLoggedIn()" href="#/register"><i class="fa fa-shield"></i> Register </a></li>
                <li><a ng-hide="isLoggedIn()" href="#/login"><i class="fa fa-shield"></i> Login </a></li>
                <li><a ng-controller="logoutController" ng-click='logout()' ng-show="isLoggedIn()" href="#/logout"><i class="fa fa-shield"></i> Logout </a></li>
                <li><a ng-controller="homeController" ng-show="isLoggedIn()"><i class="fa fa-shield"></i> {{users.username.username}} </a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">

    <div class="jumbotron text-center">
        <h3>Nombre d'articles :<span class="label label-info">{{ articles.length }}</span></h3>
    </div>

    <!-- articles -->
    <div id="article-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- on boucle sur les articles -->
            <div class="checkbox" ng-repeat="article in articles">
                <label> 
                    <a href="#/articles/{{article._id}}">{{ article.title }}</a>
                </label>
            </div>

        </div>
    </div>
<!-- test -->
    <!-- Formulaire de création d'article -->
    <div id="article-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="titre de l'article" ng-model="formData.title">
                    <input type="text" class="form-control input-lg text-center" placeholder="contenu de l'article" ng-model="formData.content">

                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createArticle()">Ajouter un article</button>
            </form>
        </div>
    </div>

</div>
