<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-8">

                <!-- Title -->
                <div ng-repeat="article in articles">
                    <h1>{{ article.title }}</h1>



                    <!-- Author -->
                    <p class="lead">
                        by <a href="#">{{ article.author }}</a>
                    </p>
                </div>

                <hr>

                <!-- Date/Time --><!--
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>-->

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <div ng-repeat="article in articles">
                    <p>{{ article.content }}</p>
                </div>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" ng-model="formData.content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createComment()">Ajouter un commentaire</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div ng-repeat="comment in comments" class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                            <small>Ajouter par : {{ comment.author }}</small>
                        </h4>
                            {{ comment.content }}

                    </div>
                </div>
            </div>
        </div>
    </div>